body {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(../images/pattern.webp);
    background-color: cornflowerblue;
}

h2 { 
    font-size: 32px;
    font-weight: bold;
    color: white;
}

span {
    font-weight: bold;
    color: blue;
}

.brush {
    background-color: mediumspringgreen;
}

.frame {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

.title {
    font-size: 20px;
    font-weight: bold;
}